[Desktop Entry]
Encoding=UTF-8
Name=Yescoin
Comment=Yescoin P2P Cryptocurrency
Comment[fr]=Yescoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Yescoin, eşten eşe kriptografik sanal para birimi
Exec=yescoin-qt %u
Terminal=false
Type=Application
Icon=yescoin128
MimeType=x-scheme-handler/yescoin;
Categories=Office;Finance;
